@CHARSET "ISO-8859-1";

.bodyJsp {
	min-height: 250px;
	width: 90%;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	right: 0;
}

.odd {
	background-color: silver;
}

.even {
	background-color: white;
}

.vertical-menu {
	background-color: #eee; /* Grey background color */
	min-height: 125px;
	position:absolute;
	width: 100px;
	height: 10%;
}

.vertical-menu a {
	background-color: #eee; /* Grey background color */
	color: black; /* Black text color */
	display: block; /* Make the links appear below each other */
	padding: 12px; /* Add some padding */
	text-decoration: none; /* Remove underline from links */
	font-size:11pt;
}

.vertical-menu a:hover {
	background-color: #ccc; /* Dark grey background on mouse-over */
	font-size:13pt;
	padding-left:8px;
	padding-right:0px;
	width:105px;
}

.vertical-menu a.active {
	background-color: #4CAF50; /* Add a green color to the "active/current" link */
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

p {
	font-size:14pt;
	text-align: justify;
}

body {
	margin:2px;
}

.a1 {
	border-top: 1px solid;
	border-bottom:solid;
	border-right:solid;
}
